@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --indigo: #6366f1;
  --orange: #f59e0b;
  --pink: #ec4899;
  --purple: #a855f7;
  --red: #ef4444;
  --sky: #0ea5e9;
  --soft-white: #f9fafb;
  --soft-white-transparent: rgba(248, 248, 248, 0.5);
  --soft-black: #111827;
  --soft-black-transparent: rgba(17, 17, 17, 0.5);

  --header-height: 100px;
  --footer-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--soft-black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Layout - Start */

.container {
  width: 1280px;
  max-width: 96%;
  background-color: var(--soft-white);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.content {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  height: auto;
  padding: 20px;
}

/* Layout - End */

/* Header - Start */

.header {
  height: var(--header-height);
  background-color: var(--sky);
  padding: 20px;
}

.header__app-title {
  color: var(--red);
  font-size: 2rem;
  line-height: 2.5rem;
}

/* Header - End */

/* Footer - Start */

.footer {
  background-color: var(--orange);
  padding: 20px;
  font-size: 1.25rem;
  height: var(--footer-height);
}

/* Footer - End */

#text-filter {
  padding: 20px;
  background-color: var(--orange);
  color: var(--light-gray);
}

#text-filter-input:focus {
  outline: none;
}

.items {
  background-color: var(--soft-black-transparent);
  width: 400px;
  max-width: 100%;
}

li {
  display: block;
  padding: 8px 20px;
  color: var(--space-blue);
}

li.selected {
  color: var(--white);
  background-color: var(--orange);
}
