@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --space-blue: #1a194d;
  --dark-blue-gray: #62618f;
  --light-gray: #f8f8ff;
  --orange: #ee4d38;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#text-filter {
  padding: 20px;
  background-color: var(--dark-blue-gray);
  color: var(--light-gray);
}

#text-filter-input:focus {
  outline: none;
}

.items {
  width: 400px;
  max-width: 100%;
}

li {
  display: block;
  padding: 8px 20px;
  color: var(--space-blue);
}

li.selected {
  color: var(--white);
  background-color: var(--orange);
}
